@theme {
  --color-neutral-50: #ffffff;
  --color-neutral-100: #f8f9fa;
  --color-neutral-200: #e9ecef;
  --color-neutral-300: #dee2e6;
  --color-neutral-400: #ced4da;
  --color-neutral-500: #adb5bd;
  --color-neutral-600: #6c757d;
  --color-neutral-700: #495057;
  --color-neutral-800: #2d2d2d;
  --color-neutral-900: #212529;

  --color-primary-default: #85C6B5;
  --color-primary-dark: #4a9581;

  --color-secondary-default: #FFE4E4;
  --color-secondary-dark: #e88888;

  --color-error: #ff6767;
}
